
.grid-cta-wrapper:hover {
    opacity: .85;
}

.icon-CTA-grid {
    height: 40px;
    width: 40px;
    padding-top: 8px;
    padding-bottom: 5px;
    color: wheat;

    @media only screen and (min-width: 768px) {
        height: 24px;
        width: 24px;
    }
}

.grid-cta-wrapper {
    background-color: rgba(2,0,36,1);
    height: 55px;
    width: 55px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    

    @media only screen and (min-width: 768px) {
        height: 40px;
        width: 46px;
    }
}