.banner-image {
    transform: scale(.75) translate(-250px);
    width: 100%;
    position: relative;
    margin-top: -5rem;
    background-color: #ad60099d;
    align-items: flex-start;
    
}

.banner-info {

    padding-right: 20px;
    border: solid;
    background-color: #000000b3;
    color: #050245;
}

.subheader {
    
    padding-top: 1.5rem;
    display: grid;
    padding: 5px;
}

.btn {
    background-color: #ad600950;
    color: black;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.small-banner {
    background-color: rgba(205, 8, 8, 0.764);
    text-align: center;
    color: rgba(11, 97, 147, 0.948);
    padding: 1.5rem;
    width: 100%;
    border: none;
    cursor: pointer;

    
}