/* .navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px;
    text-transform: uppercase;
    transform: skewY();
    
}

.store-title {
    font-weight: bolder;
    color: #ce450a !important;
    text-decoration-line: none !important;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    color: #ce450a;
}

a:hover {
    text-decoration: underline;
}

.nav-body a {
    padding-right: 10px;
    padding-left: 10px;
} */

.nav {
    background-color: beige;
    font-weight: lighter;
}